<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">Feedback</span>
		</a>

		<ul class="sidebar-nav">
			<!-- <li class="sidebar-header">
				Registration
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" routerLink="/registation">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Registration</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" routerLink="/patientConfiguration">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle text-nowrap">Patient
						Configuration</span>
				</a>
			</li> -->

			<!-- add subMeu -->

			<!-- <li class="sidebar-header">
	<ul class="nav-item">
		<a class="sidebar-link" routerLink="/patientConfiguration">
			<i class="align-middle" data-feather="sliders"></i> <span class="align-middle text-nowrap">Patient Configuration</span>
		  </a>
		  <a class="sidebar-link" routerLink="/patientConfiguration">
			<i class="align-middle" data-feather="sliders"></i> <span class="align-middle text-nowrap">Patient Configuration</span>
		  </a>
	</ul>
</li> -->


			<!-- End Of Submenu -->


			<!-- <li class="sidebar-header">
				Masters
			</li> -->
			<li class="sidebar-item">
				<a class="sidebar-link" routerLink="/question-master">
					<i class="align-middle" data-feather="sliders"></i> <span
						class="align-middle text-nowrap">Question Master </span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" routerLink="/feedbackForm">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Feedback Form</span>
				</a>
			</li>
			
	

			
		</ul>


	</div>
</nav>