<div class="wrapper">
    <app-header></app-header>
    <div class="main">
        <main class="content"> <!-- Main page container  -->
            <div class="container-fluid p-0">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">

                                <div class="">
                                    <div class="card p-2">
                                        <form [formGroup]="AddForm" (ngSubmit)="onSubmit()">
                                            <div class="col-xl ">
                                                <div class=" mb-4">
                                                  <div class="card-body px-2 pb-2 pt-0">
                                                      <div class="row pe-0" >
                                                        <div class="border-3 mx-0 p-1 row bg-label-primary" style="border-radius: 5px;">
                                                          <div class="col-md-10 text-end">
                                                            <b><label  class="mx-2 pt-4">Please Select Language -</label></b>
                                                          </div>
                                                          <div class="col-md-2 px-2">
                                                            <b><label  class="mx-2">Language</label></b>
                                                            <select class="form-select form-control-sm" #selectedLanguage (change)="languageChange(selectedLanguage.value)" aria-placeholder="Select">
                                                            <option value="1">English</option>
                                                            <option value="2">Hindi</option>
                                                            <option value="3">Marathi</option>
                                                            </select>
                                                        </div>
                                                          <!-- <div class="col-md-2 px-2">
                                                          <b><label  class="mx-2">Department</label></b>
                                                            <select class="form-select form-control-sm"   formControlName="deptId" placeholder="Select"> 
                                                                <option  *ngFor="let singleObj of deptdataList" [value]="singleObj.departmentId">{{singleObj.departmentName}}</option>
                                                            </select>
                                                        </div> -->
                                                        </div>
                                                        <div class="row box-1 pe-0"  id="myDIV1" *ngFor="let Question of questiondataList ;let i = index">
                                                          
                                                          <div class="col-md-12 mt-1" *ngIf="this.selectedLanguageEnglish">
                                                            <label class="form-label" >{{Question.qName}}?</label><!-- -->

                                                          </div> 

                                                          <div class="col-md-12 mt-1" *ngIf="this.selectedLanguagehindi">
                                                            <label class="form-label" >{{Question.hindi}}?</label>
                                                         
                                                          </div> 

                                                          <div class="col-md-12 mt-1" *ngIf="this.selectedLanguagereginal">
                                                            <label class="form-label" >{{Question.regional}}?</label>
                                                         
                                                          </div>  
                                                              <div class="col-md-12 mt-1">
                                                                <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="radio" name=i  (click)="selectedAns(Question.deptQuestId, '1')"/>
                                                                  <label class="form-check-label" >Average </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="radio" name=i  (click)="selectedAns(Question.deptQuestId, '2')"/>
                                                                  <label class="form-check-label" >Good </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="radio" name=i  (click)="selectedAns(Question.deptQuestId, '3')"/>
                                                                  <label class="form-check-label">Better </label>
                                                                </div>
                                      
                                                                <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="radio" name=i  (click)="selectedAns(Question.deptQuestId, '4')"/>
                                                                  <label class="form-check-label" >Excellent </label>
                                                                </div>
                                                              </div>
                                                              <div class="col-md-12 mt-1 d-flex">
                                                                  <label class="form-label me-2" for="basic-icon-default-company">Remark</label>
                                                                  <div class="input-group input-group-merge">
                                                                      <textarea class="form-control" #note (change)="this.selectedRemark(Question.deptQuestId,note.value)"></textarea>
                                                                  </div>
                                                              </div> 
                                                              <hr>       
                                                        </div>
                                                      
                                                         
                                                        </div>
                                  
                                                        
                                                        <div class="row">
                                                          <div class="col-md-12 mt-1 text-end">
                                                            <button type="button" class="btn btn-primary btn-sm mx-2">Cancel</button>
                                                            <button type="submit" class="btn btn-primary btn-sm " (click)="this.saveAnswers()">Save</button>  <!--(click)="this.saveAnswers()" -->
                                                             <!--  //-->
                                                          </div>
                                                        </div>
                                
                                                      </div>
                                                  </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main> <!-- /Main page container  -->
    </div>
</div>